{% extends 'main/base_index.html' %}

{% block title %}
    <title>GDSC Events Map</title>
{% endblock %}

{% block extracss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/map/map.css' %}"/>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>GDSC Events Map</h2>
    <div id="map"></div>

    <!-- Grid was inspired from StartBootstrap examples -->
    <!-- Header -->
    <header class="bg-primary text-center py-5 mb-4">
        <div class="container">
            <h1 class="fw-light text-white">Upcoming Events</h1>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            {% for event in events %}
            <!-- Team Member -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border shadow">
                    <img src="{{ event.photo.url }}" class="card-img-top profile-img"
                         alt="event_image">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0"><a href="{% url 'view_event' event.id %}">{{ event.name }}</a></h5>
                        {% for community in event.communities.all %}
                        <div class="card-text text-black-50"><a href="{% url 'view_community' community.id %}">{{ community.name }}</a></div>
                        {% endfor %}
                        <div class="socials">



                        {% if event.community.social_instagram != None %}
                        <a href="https://instagram.com/{{ event.community.social_instagram }}"><i class="fa-brands fa-instagram fa-2x"></i></a>
                        {% endif %}

                        {% if event.community.social_facebook != None %}
                        <a href="https://facebook.com/{{ event.community.social_facebook }}"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        {% endif %}

                        {% if event.community.social_twitter != None %}
                        <a href="https://twitter.com/{{ event.community.social_twitter }}"><i class="fa-brands fa-twitter fa-2x"></i></a>
                        {% endif %}

                        {% if event.community.social_linkedin != None %}
                        <a href="https://linkedin.com/in/{{ event.community.social_linkedin }}"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        {% endif %}

                        {% if event.community.social_youtube != None %}
                        <a href="https://youtube.com/{{ event.community.social_youtube }}"><i class="fa-brands fa-youtube fa-2x"></i></a>
                        {% endif %}

                        {% if event.community.social_website != None %}
                        <a href="{{ event.community.social_website }}"><i class="fa-solid fa-link fa-2x"></i></a>
                        {% endif %}

                        {% if event.community.social_email != None %}
                        <a href="mailto:{{ event.community.social_email }}"><i class="fa-solid fa-envelope fa-2x"></i></a>
                        {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->

</div>

<script type="text/javascript">
    // This javascript snippet was inspired from tuts-station.com

    const events = {{ json_events|safe }};

    let loadedEvent;

    function findLead(id){
        return events.filter(
            function (data){
                return data.code === id
            }
        )
    }

    function loadLead(map, marker) {
        if (loadedEvent != null) {
            loadedEvent.close()
        }
        $.ajax({
            url: "../api/event/" + marker.id,
            type: "GET",
            dataType: "html",
            success: function (data) {
                let infoWindow = new google.maps.InfoWindow({
                    content: data.toString()
                })
                infoWindow.open(map, marker)
                loadedEvent = infoWindow
            },
            error: function (xhr, status) {
                let infoWindow = new google.maps.InfoWindow({
                    content: "Error in connection"
                })
                infoWindow.open(map, marker)
                loadedEvent = infoWindow
            },
            complete: function (xhr, status) {
                //$('#showresults').slideDown('slow')
            }
        });
    }

    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 6,
            center: {lat: 39.5147018, lng: 35.1769132},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });


        let marker, i;

        for (i = 0; i < events.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(events[i]['fields']['latitude'], events[i]['fields']['longitude']),
                map,
                id: events[i]['pk']
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    loadLead(map, marker)
                }
            })(marker, i));
        }
    }

    window.initMap = initMap;
</script>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key|slice:"1:-1" }}&callback=initMap"></script>
{% endblock %}