{% extends 'panel/base/base_index.html'%}

{% block title %}
    <title>GDSC Panel - Events</title>
{% endblock %}

{% block content %}

<div id="layoutSidenav">
{% block sidenav %}
    {% include 'panel/base/base_sidenav.html' %}
{% endblock %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Events
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Communities</th>
                                <th>Venue</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Date Added</th>
                                <th>Last Edited</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Communities</th>
                                <th>Venue</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Date Added</th>
                                <th>Last Edited</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.id }}</td>
                                <td><a href="{{ event.photo.url }}"><img src="{{ event.photo.url }}" style="max-width: 100px; max-height: 100px"></a></td>
                                <td><a href="{% url 'view_event' event.id %}">{{ event.name }}</a></td>
                                <td>{% for community in event.communities.all %}<a href="{% url 'view_community' community.id %}">{{community.name}}</a><br>{% endfor %}</td>
                                <td><a href="{% url 'view_venue' event.venue.id %}">{{event.venue.name}}</a></td>
                                <td>{{ event.description }}</td>
                                <td>{{ event.date }}</td>
                                <td>{{ event.date_added }}</td>
                                <td>{{ event.date_updated }}</td>
                                <td>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <a href="{% url 'view_event' event.id %}" class="btn btn-sm" data-toggle="tooltip" title="View">
                                                <i class="fa fa-eye ambitious-padding-btn"></i>
                                            </a>
                                            <a href="{% url 'panel_event_edit' event.id %}" class="btn btn-sm" data-toggle="tooltip" title="Edit">
                                                <i class="fa fa-pencil ambitious-padding-btn"></i>
                                            </a>
                                            <a href="#confirmModal" class="btn btn-sm" data-toggle="tooltip" title="Delete">
                                                <i class="fa fa-trash ambitious-padding-btn"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}