{% extends 'panel/base/base_index.html'%}

{% block title %}
    <title>GDSC Panel - Communities</title>
{% endblock %}

{% block content %}

<div id="layoutSidenav">
{% block sidenav %}
    {% include 'panel/base/base_sidenav.html' %}
{% endblock %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Communities
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>City</th>
                                <th>Lead</th>
                                <th>Bio</th>
                                <th>Instagram</th>
                                <th>Website</th>
                                <th>Twitter</th>
                                <th>Linkedin</th>
                                <th>Email</th>
                                <th>Youtube</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>City</th>
                                <th>Lead</th>
                                <th>Bio</th>
                                <th>Instagram</th>
                                <th>Website</th>
                                <th>Twitter</th>
                                <th>Linkedin</th>
                                <th>Email</th>
                                <th>Youtube</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        {% for community in communities %}
                            <tr>
                                <td>{{ community.id }}</td>
                                <td><img src="{{ community.photo.url }}" style="max-width: 100px; max-height: 100px"></td>
                                <td><a href="{% url 'view_community' community.id %}">{{ community.name }}</a></td>
                                <td><a href="{% url 'view_city' community.city.id %}">{{ community.city }}</a></td>
{# TODO: Fix community lead here                                #}
                                <td><a href="">{{ community.lead.name}}</a></td>
                                <td>{{ community.biography }}</td>
                                <td><a target="_blank" href="https://instagram.com/{{ community.social_instagram }}">{{ community.social_instagram }}</a></td>
                                <td><a target="_blank" href="https://{{ community.social_website }}">{{ community.social_website }}</a></td>
                                <td><a target="_blank" href="https://twitter.com/{{ community.social_twitter }}">{{ community.social_twitter }}</a></td>
                                <td><a target="_blank" href="https://linkedin.com/{{ community.social_linkedin }}">{{ community.social_linkedin }}</a></td>
                                <td><a target="_blank" href="mailto:{{ community.social_email }}">{{ community.social_email }}</a></td>
                                <td><a target="_blank" href="https://youtube.com/{{ community.social_youtube }}">{{ community.social_youtube }}</a></td>
                                <td>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <a href="{% url 'view_community' community.id %}" class="btn btn-sm" data-toggle="tooltip" title="View">
                                                <i class="fa fa-eye ambitious-padding-btn"></i>
                                            </a>
                                            <a href="{% url 'panel_community_edit' community.id %}" class="btn btn-sm" data-toggle="tooltip" title="Edit">
                                                <i class="fa fa-pencil ambitious-padding-btn"></i>
                                            </a>
                                            <a href="#confirmModal" class="btn btn-sm" data-toggle="tooltip" title="Delete">
                                                <i class="fa fa-trash ambitious-padding-btn"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}