{% extends 'panel/base/base_index.html' %}

{% block title %}
    <title>GDSC Panel - Add City</title>
{% endblock %}

{% block content %}
<div id="layoutSidenav">
{% block sidenav %}
    {% include 'panel/base/base_sidenav.html' %}
{% endblock %}
    <div id="layoutSidenav_content">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                    {% include 'messages/messages.html' %}
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Add a New City</h3></div>
                                    <div class="card-body">
                                        <form method="POST" enctype="multipart/form-data" autocomplete="off">
                                            {% csrf_token %}
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        {{ form.id.errors }}
                                                        {{ form.id }}
                                                        <label for="{{ form.id.id_for_label }}">ID</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        {{ form.name.errors }}
                                                        {{ form.name }}
                                                        <label for="{{ form.name.id_for_label }}">Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Add a New City</button></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            {% block footer %}
                {% include 'panel/base/authentication_footer.html' %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
