{% extends 'panel/base/base_index.html'%}

{% block title %}
    <title>GDSC Panel - Cities</title>
{% endblock %}

{% block content %}

<div id="layoutSidenav">
{% block sidenav %}
    {% include 'panel/base/base_sidenav.html' %}
{% endblock %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Cities
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        {% for city in cities %}
                            <tr>
                                <td>{{ city.id }}</td>
                                <td>{{ city.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}