{% extends 'panel/base/base_index.html' %}

{% block content %}
        <div id="layoutSidenav">
        {% block sidenav %}
            {% include 'panel/base/base_sidenav.html' %}
        {% endblock %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Welcome to GDSC Dashboard!</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Please use sidenav to navigate</li>
                        </ol>
                    </div>
                </main>
                {% block footer %}
                    {% include 'panel/base/authentication_footer.html' %}
                {% endblock %}
            </div>
        </div>
{% endblock %}