{% extends 'main/base_index.html' %}

{% block title %}
    <title>GDSC Leads - Login</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                        <div class="form-floating mb-3">
                            {{ form.email.errors }}
                            {{ form.email }}
                            <label for="{{ form.email.id_for_label }}">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password.errors }}
                            {{ form.password }}
                            <label for="{{ form.password.id_for_label }}">Password</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                            <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="small" href="{% url 'forgot_password' %}">Forgot Password?</a>
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="{% url 'register' %}">Need an account? Sign up!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
