{% extends 'main/base_index.html' %}

{% block title %}
    <title>GDSC Leads - Register</title>
{% endblock %}

{% block content %}
<div class="container">
    {% include 'messages/messages.html' %}
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating mb-3 mb-md-0">
                                    {{ form.name.errors }}
                                    {{ form.name }}
{#                                                <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" />#}
                                    <label for="{{ form.name.id_for_label }}">Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.email.errors }}
                            {{ form.email }}
{#                                        <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />#}
                            <label for="{{ form.email.id_for_label }}">Email address</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    {{ form.password.errors }}
                                    {{ form.password }}
                                    <label for="{{ form.password.id_for_label }}">Password</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    {{ form.password_again.errors }}
                                    {{ form.password_again }}
                                    <label for="{{ form.password_again.id_for_label }}">Confirm Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-0">
                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Create Account</button></div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="{% url 'login' %}">Have an account? Go to login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
